// ------------------------------------------ //
// Footer
// This file will unify all footer elements.
// ------------------------------------------ //

// footer icons
// ----------------------
.main-footer{
	bottom:0;
	position:fixed;
	left:0;
	width:100%;	
	.footer-content-fix{
		background: @bg-content-fix;
		border-top: 2px solid @border-orandge;
		max-width: @max-width-center;
		.icons-nav  { 
		 	text-align: center;
		 	margin-top: 0;
			li{
				display:inline-block;
				line-height: 53 * @toRems;
				padding: (36 * @toRems) (100 * @toRems) (20 * @toRems);
				.icon{
					color: @footer-icon-color; 
					display:block;
					font-size: 54 * @toRems;
				}
				span{
					color: @footer-txt-color;
					font-size: 29 * @toRems;
					font-weight:600;
				}
				&:first-child{
					padding-left: 10 * @toRems;
				}
				&:last-child{
					padding-right: 10 * @toRems;
				}	
			}
		}
	}
}

// footer icons active
// ----------------------
.main-footer .footer-content-fix .icons-nav .active {
	.icon{
		color: @icon-color-active; 
	}
	span{
		color: @footer-txt-color-active;
		font-weight:700;
	}
}





// End Remove this after javascript implementation