// ========================================== //
// Header
// ========================================== //


// header style
// ---------------------------
.main-header{
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	.header-content-fix{
		max-width: @max-width-center;
		background: @bg-content-fix;
	}
}
.header-navbar-top{
	padding:(30 * @toRems) (48 * @toRems);
	height: 170 * @toRems;
	float:left;
	width: 100%;
}
.navbar-toggle-header{
	float:left;
	margin-top: 26 * @toRems;
	cursor: pointer;
}
.search-header{
	float:right;
	line-height: 110 * @toRems;	
	cursor: pointer;
}



// header left menu main
// ---------------------------
.menu-header-main{
	background: @bg-content-fix;
	transition: all 0.4s ease-out 0s;
	display: none;
	float:left;
	position:absolute;
	width: 668 * @toRems;
	border-right: 1px solid @border-orandge;
	box-shadow: 0 -10px 0 10px @bg-content-fix;
}
.active-left-block-menu .menu-header-main{
	display: block;
}
.title-menu-left{
	text-transform: uppercase;
	color:@nav-txt-menu;
	font-size: 44 * @toRems;
	line-height:;
	font-weight:600;
	padding: (30 * @toRems) (64 * @toRems);
	line-height: 110 * @toRems;		
}
.nav-left-main{
	margin-top: 0;
	li{
		background:@bg-menu-left-txt;
		cursor: pointer;
		margin: 1px 0;
		line-height: 110 * @toRems;	
		&.active{
			background:@bg-menu-left-txt-active;	
		}
	}
}
.nav-left-main a{
	color: @nav-txt-menu;
	margin: 0 (20 * @toRems) 0 (53 * @toRems);
	font-weight:700;
	font-size: 36 * @toRems;
}
.nav-left-main .active a{
	color: @nav-txt-active;
	font-weight: 900;
}
.active-left-block-menu .icon-nav-top{
	margin-left: 680 * @toRems;
}



// header icon-bar
// ---------------------------
.main-header{
	.icon{
		color: @icon-color-active;
	}
}
.header-navbar-top .icon-bar{
	display: block;
	border-radius: 40 * @toRems;
	margin: (6 * @toRems) (6 * @toRems);
	width:74 * @toRems;
	height:12 * @toRems;
	background: @icon-color-active;
}
.search-header .icon-search{
	font-size: 59 * @toRems;
}
.header-nav .icon-plus{ 
	font-size: 35 * @toRems;	
}
.header-nav .icon-key{ 
	font-size: 26 * @toRems;	
}
.header-nav .icon-profile{ 
	font-size: 43 * @toRems;	
}
.nav-left-main .icon{
	width: 150 * @toRems;
	height: 110 * @toRems;
	line-height: 110 * @toRems;
	background: @bg-menu-left-icon;
	top: 0px;
}


// header active icon-bar
// ---------------------------
.nav-left-main .active .icon{
	background: @bg-menu-left-icon-active;	
}
.header-nav .active .icon{
	color: @nav-header-active;
}


// media header menu
// ---------------------------
@media (max-width: 519px) {
	.menu-header-main{
		width: 550 * @toRems;
	}
	.active-left-block-menu .icon-nav-top{
		margin-left: 550 * @toRems;
	}
}